* {
  font-family: "Brandon Grotesque", sans-serif;
}

#form-container {
  max-width: 640px;
  width: 50%;
  margin: 0 auto;
}

.labeled-input input,
select {
  display: block;
  width: 100%;
  border: 2px solid #cacdcc;
  border-radius: 6px;
  height: 57px;
}

.labeled-input input {
  font-family: AtlasGrotesk, sans-serif;
  font-size: 16pt;
  padding-left: 16px;

  /* padding-top: 9px; */
}

.labeled-input select {
  background-color: #f3f3f3;
  font-size: 16pt;
  padding-left: 0.25rem;
  border-radius: 4px;
}

option {
  padding: 0;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 18pt;
  letter-spacing: 0.07em;
  color: #ec5d57;
}

label {
  display: block;
  font-weight: bold;
  font-size: 12pt;
  padding-left: 16px;
  margin-top: 16pt;
  margin-bottom: 4pt;
}

/* ::placeholder {
  font-family: AtlasGrotesk, sans-serif;
  font-size: 16pt;
} */

#submit {
  text-align: end;
}

h1,
label,
button {
  text-transform: uppercase;
}

button {
  font-weight: 500;
  color: white;
  background-color: #ec5d57;
  border: 0;
  border-radius: 50px;
  font-size: 16pt;
  height: 48px;
  width: 131px;
  margin-top: 10pt;
}
