* {
  box-sizing: border-box;
  margin: 0;
  font-family: monospace;
  font-weight: normal;
  color: rgb(231 231 231);
}

h1 {
  font-size: 5rem;
  margin-top: 7rem;
}

h2 {
  font-size: 4rem;
  margin-top: 4rem;
}

h3 {
  margin-top: 1rem;
  font-size: 2rem;
}

h4 {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.container {
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
}

.col-12 {
  flex-basis: 100%;
}

.col-4 {
  flex-basis: calc(100% * (4 / 12));
}

.margin-auto {
  margin: auto;
}

.margintop-10 {
  margin-top: 10%;
}

.txt-center,
.txt-center * {
  text-align: center;
}

.bg-dark {
  background-color: #0a0a0a;
}

/* semantic */

.phrase span {
  white-space: pre;
}

.current-letter {
  border-bottom: rgb(231 231 231) solid 5px;
}

.correct-char {
  color: #42c04c;
}

.incorrect-char {
  color: #d13333;
  border-color: #d13333;
}

.hidden {
  display: none;
}
