* {
  font-family: Karla, sans-serif;
}

/* font weights 400 and 700 */

.container {
  max-width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-25 {
  flex-basis: 25%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

.center-text {
  text-align: center;
}

.wrapping {
  flex-wrap: wrap;
}

.v-spacer {
  margin: 2rem;
}

/* element-wide */

button {
  color: #d04941;
  background-color: white;
}

h1 {
  font-weight: 700;
  font-size: 36pt;
}

h3 {
  font-weight: 700;
  font-size: 12pt;
  margin-top: 2rem;
}

p {
  font-weight: 400;
  font-size: 11pt;
  color: gray;
}

img {
  width: 100%;
}
