.container {
  width: 75vw;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-50 {
  width: 50%;
}

.center-text {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

/* font setting (weights 400 and 700) */
* {
  font-family: Karla, sans-serif;
}

.section-infoblocks {
  height: 600px;
  justify-content: center;
  align-items: space-between;
}

.infoblock {
  margin: 2em 3rem;
  min-height: auto;
  align-items: space-between;
}

.infoblock h3 {
  margin: 0;
}

.infoblock > img {
  margin-bottom: auto;
}
