/* stylelint-disable no-descending-specificity */

/*  =========================

  row/c > background > alignment > padding > decor > semantic

    =========================   */

/* font */

* {
  font-family: Avenir, sans-serif;
  font-weight: 500;
  font-size: normal;
}

h1,
h2 {
  font-family: "Tiempos Headline", serif;
}

h1,
h2,
p,
button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  line-height: 1.75rem;
  font-size: 1rem;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2rem;
}

/* utility */

.container > * {
  width: 100vw;
}

/* row */

.row {
  display: flex;
}

/* sizing */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-max-1200px {
  max-width: 75rem;
}

/* col */

/* .col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  margin: 0 auto;
} */

.col-1 {
  flex-basis: calc(100% * 1 / 12);
}

.col-2 {
  flex-basis: calc(100% * 2 / 12);
}

.col-3 {
  flex-basis: calc(100% * 3 / 12);
}

.col-4 {
  flex-basis: calc(100% * 4 / 12);
}

.col-5 {
  flex-basis: calc(100% * 5 / 12);
}

.col-6 {
  flex-basis: calc(100% * 6 / 12);
}

.col-7 {
  flex-basis: calc(100% * 7 / 12);
}

.col-8 {
  flex-basis: calc(100% * 8 / 12);
}

.col-9 {
  flex-basis: calc(100% * 9 / 12);
}

.col-10 {
  flex-basis: calc(100% * 10 / 12);
}

.col-11 {
  flex-basis: calc(100% * 11 / 12);
}

.col-12 {
  flex-basis: calc(100% * 12 / 12);
}

/* padding horizontaL */

.pad-horz-33 {
  padding-left: 33%;
  padding-right: 33%;
}

.pad-horz-7 {
  padding-left: 7%;
  padding-right: 7%;
}

.pad-horz-5 {
  padding-left: 5%;
  padding-right: 5%;
}

/* padding vertical */

.pad-vert-10 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.pad-vert-7 {
  padding-top: 7%;
  padding-bottom: 7%;
}

.pad-vert-5 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.pad-vert-3 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.pad-vert-2 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.pad-vert-1 {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* margin setting */

/* text align */

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

/* justify content */

.just-center {
  justify-content: center;
}

.just-left {
  justify-content: left;
}

.just-right {
  justify-content: right;
}

/* align content */

.align-center {
  align-items: center;
}

/* font colors */

.txtcolor-gray {
  color: #535353;
}

.txtcolor-lightgray {
  color: #a0a0a0;
}

.txtcolor-white {
  color: white;
}

/* background colors */

.bg-gray {
  background-color: #4e4f4e;
}

.bg-lightgray {
  background-color: #f5f5f5;
}

/* decor */

.line-bottom {
  border-bottom: 2px solid #e6e8eb96;
}

.line-top {
  border-top: 2px solid #e6e8eb96;
}

/* link decor */

a {
  text-decoration: none;
  color: inherit;
}

/* button */

button {
  color: white;
  background-color: #294464;
  border: 0;
  border-radius: 5px;
}

.btn-get-started {
  width: 12rem;
  height: 3rem;
  font-size: 1.25rem;
}

.btn-contact-us {
  width: 7rem;
  height: 2.5rem;
  font-size: medium;
}

/* hero image */

.hero-image {
  background: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)), url("images/hero.jpg");
  background-size: cover;
}

.txt-width-limiter {
  max-width: 32rem;
}

/* logo */

.logo {
  width: 8rem;
  display: block;
}

/* nav bar stuff */

.margin-descendants-left * {
  margin-left: 3rem;
}

.margin-descendants-right * {
  margin-right: 3rem;
}

/* footer formatting */
.footer a {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

footer h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
}

footer .logo {
  margin-bottom: 3rem;
}

.privacy a {
  font-size: 1rem;
}
